{{- $name := promptString "Your name" -}}
{{- $email := promptString "Your email" -}}
{{- $work := promptBool "Work machine?" -}}

{{- if $work }}
{{- $work_email := promptString "Your work email" -}}
{{- end }}

[data]
name = {{ $name | quote }}
email = {{ $email | quote }}
{{- if $work }}
work_email = {{ $work_email | quote }}
{{- end }}
